parameters:
    excludes_analyse:
        - %rootDir%/../../../vendor/*
        - %rootDir%/../../../tests/*
    ignoreErrors:
        - '#Casting to .+ something that.s already .+\.#'
        - '#Variable \$padMode might not be defined\.#'
